<a href="https://colab.research.google.com/github/michael-borck/just_enough_python/blob/main/07_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!--NAVIGATION-->
< [Input](06_input.ipynb) | [Contents](00_contents.ipynb) |[Functions](08_functions.ipynb) >

# Operators

Operators allow us to do things with data. We can perform arithmetic or test something about a variable, e.g., a value within a range or part of a list. We can make more complex expressions using `and`, `or` and `not`. We use operators to
* perform arithmetic 
* [make decisions](09_making_decisions.ipynb)
* [repeat things](11_going_loopy.ipynb)
* [fixing errors](12_fixing_errors.ipynb)

Here is a table of arithmetic operators


| Operation | Description           | Example       |  Result  |
|:---------:|-----------------------|---------------|----------|
| ```+```   | Addition              | ```3 + 2.2``` | ```5.2```|
| ```-```   | Subtraction           | ```5 - 2```   | ```3```  |
| ```*```   | Multiplication        | ```3 * 8```   | ```24``` |
| ```**```  | Raise to the power of | ```3 ** 2```  | ```9```  |
| ```/```   | Division              | ```5/2```     | ```2.5```|
| ```//```  | Integer Division      | ```5/2```     | ```2```  |
| ```%```   | Modulo                | ```5%2```     | ```1```  |


Use the cell below to try out some of the examples from the above table.

In [ ]:
3 + 2.2

5.2

`3 + 2.2` is called an expression.  We can print an expression.

In [ ]:
print(3 + 2.2)

5.2

We can store the result of an expression in a variable

In [ ]:
total = 3 + 2.2
print(total)

5.2

We can use `variables` in expressions

In [ ]:
year = 2022
birth_year = 2000
age = year - birth_year
print(age)

22

Lets use the `input()` from and get some informaiton from the user

In [ ]:
year = input('What year is it? ')
birth_year = input('What year were you born? ')
age = year - birth_year
print(age)

What year is it? 2022
What year were you born? 2000

TypeError: ignored

What happened?  You may have already guessed, but if not, here is the clue from the error message: 

`TypeError: unsupported operand type(s) for -: 'str' and 'str'`

The error seems to be with `str`, the string type in Python.  Let us confirm our suspicions

In [ ]:
year = input('What year is it? ')
print(year)
print(type(year))

What year is it? 2022
2022
<class 'str'>

So the data type of the variable is string. The `input()` function ALWAYS return a `str` data type.

There is a way to convert a string to an integer; we can use the `int()` function. If we give the `int()` function a string, it will try to convert it to an integer. We can use the `float()` function to convert a string to a `float`.

> We can convert number to string with the `str()` function. This process can be helpful when formatting output.

In [ ]:
# We can make it simplere
year = input('What year is it? ')
print(year)
print(type(year))

# lets reassign the value
year = int(year)
print(year)
print(type(year))

What year is it? 2022
2022
<class 'str'>
2022
<class 'int'>

Okay, let try to calculate `age` again.  In this exmaple we use the output of the `input()` function as the input to the `int()` function.

In [ ]:
year = int(input('What year is it? '))
birth_year = int(input('What year were you born? '))
age = year - birth_year
print(age)

What year is it? 2022
What year were you born? 2000
22

## Comparision Operators

The following table show *operators* used to compare the relationship between numbers.  The comparison result is either `True` or `False`, which is a boolean value.  We call the expression a *boolean expression*.


| Operation | Description            | Example           |  Result     |
|:---------:|------------------------|-------------------|-------------|
| ```<```   | Less than              | ```3 < 2```       | ```False``` |
| ```>```   | Greater than           | ```3 > 2```       | ```True```  |
| ```<=```  | Less than or equal     | ```3 <= 2```      | ```False``` |
| ```>=```  | greater than or equal  | ```3 >= 2```      | ```True```  |
| ```==```  | equal to               | ```3 == 2```      | ```False``` |
| ```!=```  | not equal to           | ```3 != 2```      | ```True```  |
| ```not``` | not                    | ```not(3 == 2)``` | ```True```  |

Use the cell below to try some of the *boolean expressions* in the example column.

In [ ]:
3 < 2

False

We should use the `print()` function

In [ ]:
print(3 < 2)

False

Save the result of the expression to a variable

In [ ]:
result = 3 < 2
print(result)

False

How about comparing variable?

In [ ]:
temperature = 38
is_hot = temperature > 35
print(is_hot)

True

We will use boolean expressions to 
* [make decisions](09_making_decisions.ipynb)
* [repeat things](11_going_loopy.ipynb)
* [fixing errors](12_fixing_errors.ipynb)


## Other Common Operators

Logical operators are used to combine conditional statements.

Let `x = 6`

| Operation | Description            | Example           | Resut |
|:---------:|------------------------|-------------------|-------|
| and 	    | Returns True if both statements are true	 | x > 5 and  x < 10 | True |
| or	      | Returns True if one of the statements is true| x < 5 or x > 4	| True |
| not	      | Reverse the result, returns False if the result is true	| not(x > 5 and x < 10)| False|

In [ ]:
x = 6
is_between = (x > 5 and x < 10)
print(is_between)

True

Identity operators are used to compare if two objects are the same object, with the same memory location:

Let 
* 'x = 1.234`
* `y = x`

| Operation | Description            | Example           | Result |
|:---------:|------------------------|-------------------|----------|
| is 	      | Returns True if both variables are the same object| x is y| True |
| is not |Returns True if both variables are not the same object| x is not y | False |

In [ ]:
x = 1.234
y = x
print(x is y)

True

Membership operators are used to test if a sequence is presented in an object:

Let 
* `x = 2`
* `y = [7,2,3,6]`

| Operation | Description            | Example           | Result |
|:---------:|------------------------|-------------------|--------|
| in 	      | Returns True if a sequence with the specified value is present in the object	| x in y | True |	
| not in	| Returns True if a sequence with the specified value is not present in the object	| x not in y| False |

In [ ]:
x = 2
y = [7, 2, 3, 6]
print (x in y)

True

## Conclusion

Operators allow us to do things with data. We can perform arithmetic or test something about a variable, e.g., a value within a range or part of a list. We can make more complex expressions using `and`, `or` and `not`. We will use boolean expressions to 
* [make decisions](09_making_decisions.ipynb)
* [repeat things](11_going_loopy.ipynb)
* [fixing errors](12_fixing_errors.ipynb)

<!--NAVIGATION-->
< [Input](06_input.ipynb) | [Contents](00_contents.ipynb) |[Functions](08_functions.ipynb) >